---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="お問い合わせ | 青春彼女_都内No.1の彼女レンタルサービス">
    <div class="pt-14 md:pt-16 max-w-[700px] mx-auto">
        <div class="">
            <iframe 
                src="https://docs.google.com/forms/d/e/1FAIpQLSeuVw0R576QBqFXKRQfvj7mWTS-1f04rr-Ec6JyAL4fyNwXPg/viewform?embedded=true" 
                style="width: 100%; height: 1100px; border: none;"
                class="mx-auto">
                読み込んでいます…
            </iframe>
        </div>
    </div>
</Layout>
