---
import HeaderButton from "../elements/HeaderButton.astro";
import ButtonWithCircle from "../elements/ButtonWithCircle.astro";
---
<div class="bg-[url('/assets/img/bg_sea01.png')] object-cover">
    <section class="container px-9 py-10">
        <div class="mb-4">
            <h1 class="text-center text-2xl font-semibold">About</h1>
            <p class="text-center">青春彼女について</p>
        </div>
        <div class="mb-6">
            <img src="https://placehold.jp/900x1200.png" alt="" class="mx-auto max-w-[clamp(150px,calc(30px+37.5vw),300px)]">
        </div>
        <h2 class="font-klee font-semibold text-xl mb-4">
            青春は、<br />
            いつでも始められる。
        </h2>
        <div class="text-sm font-klee mb-5">
            <p class="mb-2">
                "青春彼女"は女性とデートができるサービスです。
            </p>
            <p class="mb-2">
                利用方法はたったの2STEP。
            </p>
            <ol class="list-inside list-decimal mb-3">
                <li class="mb-1">彼女一覧からお気にいりの彼女を探す</li>
                <li>2人で予定を合わせ、デートへ向かう</li>
            </ol>
            <p>さあ、始めましょう。</p>
        </div>
        <!-- <HeaderButton class="text-sm font-klee font-semibold mx-auto">彼女一覧へ</HeaderButton> -->
        <div class="flex justify-center">
            <ButtonWithCircle bgColor="bg-[#d3f5d6]" bgColorHover="hover:bg-[#e3ffe6]">彼女一覧へ</ButtonWithCircle>
        </div>
    </section>
</div>


<style>
    p {
        @apply text-sm font-klee tracking-widest leading-loose;
    }
</style>