---
import { Image } from 'astro:assets';
import logo from "../../assets/img/logo.png";
import HeaderButton from '../elements/HeaderButton.astro';
---

<header class="p-2">
    <div>
        <Image class='w-28 mx-auto mb-1' src={logo} alt='logo' />
    </div>
    <div>
        <nav>
            <ul class="flex items-center font-klee gap-2 text-sm justify-center">
                <a href=""><li>利用方法</li></a>
                <a href=""><li>お知らせ</li></a>
                <a href=""><li>求人募集</li></a>
                <a href=""><HeaderButton>彼女一覧</HeaderButton></a>
            </ul>
        </nav>
    </div>
</header>


