---
import NewsCard from "../blocks/NewsCard.astro";
import ButtonWithCircle from "../elements/ButtonWithCircle.astro";

---
<div class="bg-[url('/assets/img/bg_sea01.png')] object-cover">
    <section class="px-2 py-12 max-w-[1100px] mx-auto">
        <h2 class="text-center text-2xl font-semibold mb-8">News</h2>
        <div class="grid gap-x-2 gap-y-4 items-end justify-between grid-cols-[repeat(auto-fill,minmax(140px,1fr))] mb-10">
            <NewsCard date="03/21" title="青春彼女を正式リリースしました！" isNew={true} thumbnailUrl="https://placehold.jp/1200x750.png"></NewsCard>
            <NewsCard date="03/21" title="青春彼女を正式リリースしました！" isNew={false} thumbnailUrl="https://placehold.jp/1200x750.png"></NewsCard>
            <NewsCard date="03/21" title="青春彼女を正式リリースしました！" isNew={false} thumbnailUrl="https://placehold.jp/1200x750.png"></NewsCard>
            <NewsCard date="03/21" title="青春彼女を正式リリースしました！" isNew={false} thumbnailUrl="https://placehold.jp/1200x750.png"></NewsCard>
        </div>
        <div class="flex justify-center">
            <ButtonWithCircle bgColor="bg-[#d3f5d6]" bgColorHover="hover:bg-[#e3ffe6]">お知らせ一覧へ</ButtonWithCircle>
        </div>
    </section>
</div>