---
import NewsCard from "../blocks/NewsCard.astro";
import Button from "../elements/Button.astro";
import Heading from "../elements/Heading.astro";
import { fetchArticles } from "../../lib/fetchArticle";

const { articles } =  await fetchArticles();
---

<div>
    <section class="bg-white px-4 py-10 mx-auto">
        <Heading heading="News" subtitle="お知らせ"></Heading>
        <div class="
            grid grid-cols-2 gap-6 max-w-[1400px] mx-auto mb-12
            sm:grid-cols-3
            lg:grid-cols-4
            xl:grid-cols-6 xl:gap-8
        ">
            {articles.slice(0, 12).map((article, index) => (
                <a href={`/news/${article.slug}`}>
                    <NewsCard
                        date={article["_sys"]["raw"]["publishedAt"]}
                        title={article.title}
                        thumbnailUrl={article.coverImage.src}
                        hiddenClass={index >= 6 ? 'hidden xl:block' : ''}
                    />
                </a>
            ))}
        </div>
        <div class="flex justify-center">
            <a href="/news"><Button>お知らせ一覧へ</Button></a>
        </div>
    </section>
</div>
