<section>
    <div class="relative font-klee font-semibold">
        <video src="/assets/video/fv_video.mp4" class="w-screen aspect-auto object-cover mx-auto max-w-[720px] max-h-[90vh]" autoplay muted playsinline loop></video>
        <h1 class="absolute top-[30%] left-[10%] text-2xl sp-md:text-3xl sp-lg:text-4xl sp-lg:left-[12%] text-white">
            もう一度、
        </h1>
        <h1 class="absolute top-[30%] translate-y-full left-[10%] text-3xl sp-md:text-4xl sp-md:top-[calc(30%+10px)] sp-lg:text-5xl sp-lg:left-[12%] text-white mix-blend-difference">
            青春
        </h1>
        <h1 class="absolute top-[calc(30%+9px)] translate-y-full left-[calc(10%+67px)] text-2xl sp-md:text-3xl sp-md:top-[calc(30%+19px)] sp-md:left-[calc(10%+78px)] sp-lg:text-4xl sp-lg:left-[calc(12%+100px)] sp-lg:top-[calc(30%+27px)] text-white">
            しよう
        </h1>
    </div>
</section>
