---
import { Image } from 'astro:assets';
import logo from "/public/img/logo.png";
import HeaderButton from '../elements/HeaderButton.astro';
---

<header class="
        p-3 fixed z-20 bg-white/90 w-full flex items-center justify-between h-14
        md:p-4 md:h-16
        lg:p-5

">
    <div>
        <a href="/"><Image class="w-28 lg:w-32" src={logo} alt='logo' /></a>
    </div>
    <div>
        <nav>
            <ul class="
                flex items-center font-klee font-bold gap-4 text-[15px]
                sm:text-base
                md:text-lg
                lg:gap-7
            ">
                <a href="/usage_guide" class="hover:text-gray-700"><li>利用方法</li></a>
                <a href="/news" class="hover:text-gray-700"><li>お知らせ</li></a>
                <a href="https://autumn-resonance-e91.notion.site/_-17834eeb7f4b806d931fe80ea1a8ec53" target="_blank" rel="noopener noreferrer" class="hidden md:block md:hover:text-gray-700"><li>求人募集</li></a>
                <a href="/contact" class="hidden md:block md:hover:text-gray-700"><li>お問い合わせ</li></a>
                <a href="/cast"><HeaderButton>彼女一覧</HeaderButton></a>
            </ul>
        </nav>
    </div>
</header>


