---
import Layout from "../layouts/Layout.astro";
import { newtClient } from '../lib/newt';

const response = await newtClient.getContents({
    appUid: "service",
    modelUid: "service",
    query: {
        slug: "usage_guide"
    }
});
const usage_guide = response.items[0];

---

<Layout title="利用料金 | 青春彼女_都内No.1の彼女レンタルサービス" description="当サービスのご利用料金をご案内します。東京で過ごす特別な時間のために、明確でわかりやすい料金体系をご用意。安心の料金設定で、あなたの理想のデートをサポートします。キャスト募集も行なっておりますので、お気軽にご応募ください！">
    <div class="pt-20 md:pt-24 mb-32 max-w-[700px] mx-auto">
        <article>
            <!-- HTMLコンテンツ -->
            <div class="prose md:prose-lg" set:html={usage_guide["content"]}></div>
        </article>
    </div>
</Layout>

<style is:global>
    /* HTMLコンテンツのスタイル */
    .prose img {
        display: block;
        border-radius: 0.5rem;
        width: 100%;
        max-width: 500px;
        max-height: 400px;
        height: auto;
    }

    .prose {
        color: #333;
        line-height: 1.6;
    }
</style>
