---
import Layout from "../../layouts/Layout.astro";
import CastSection from "../../components/sections/CastSection.astro";
---

<Layout>
    <div class="pt-14 md:pt-16 max-w-[1400px] mx-auto">
        <CastSection></CastSection>
    </div>
</Layout>