<div class="
    flex items-center justify-center gap-2 bg-gradient-to-r from-green-400 to-green-500 text-white px-4 py-2 rounded-full shadow-md transition duration-300 ease-in-out transform hover:scale-105 hover:shadow-lg hover:from-green-500 hover:to-green-600
    sp-md:px-6 sp-md:py-3
    sp-lg:px-8
    break:px-10 break:py-4 break:text-lg
">
    <button class="font-semibold tracking-wide focus:outline-none">
        <slot></slot>
    </button>
    <i class="fa-solid fa-circle-arrow-right text-xl"></i>
</div>
