<div class="
    bg-pink-ai px-2 py-1 rounded-lg text-white hover:bg-red-400 shadow-lg
    sp-md:px-3 sp-md:py-2
    sp-lg:px-4
    break:px-5 break:py-3 break:text-lg
">
    <button><slot></slot></button>
    <i class="fa-solid fa-circle-arrow-right"></i>
</div>