<div class="
    bg-gradient-to-r from-primary-500 to-accent-500 
    px-3 py-2 rounded-full text-white 
    shadow-md hover:shadow-lg 
    transform hover:-translate-y-0.5 
    transition-all duration-300 
    flex items-center gap-2
">
    <button class="font-medium">
        <slot></slot>
    </button>
    <i class="fa-solid fa-circle-arrow-right text-white/90"></i>
</div>